{% extends "layouts/base.html" %}
{% load static %}

{% block title %}{{ form_title }}{% endblock title %}

{% block content %}
<div class="pc-container">
  <div class="pc-content">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4>{{ form_title }}</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <form method="post" class="form-horizontal">
                  {% csrf_token %}
                  
                  {% for field in form %}
                  <div class="form-group row mb-3">
                    <label class="col-sm-3 col-form-label">{{ field.label }}</label>
                    <div class="col-sm-9">
                      {{ field }}
                      {% if field.errors %}
                        <div class="text-danger mt-1">
                          {{ field.errors }}
                        </div>
                      {% endif %}
                      {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                      {% endif %}
                    </div>
                  </div>
                  {% endfor %}

                  <div class="form-group row">
                    <div class="col-sm-9 offset-sm-3">
                      <button type="submit" class="btn btn-primary">Save</button>
                      <a href="javascript:history.back()" class="btn btn-secondary">Cancel</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %} 