{% load i18n static home %}


<nav class="pc-sidebar">
  <div class="navbar-wrapper">
    <div class="m-header">
      <a href="{% url 'analytics' %}" class="b-brand text-primary">
        <img src="{% static 'assets/images/logo-white.svg' %}" class="img-fluid" alt="logo">
      </a>
    </div>
    <div class="navbar-content">
      <ul class="pc-navbar">
        {% if user.is_authenticated %}
          {% if user.is_superuser or user.is_staff %}
            <!-- Admin Menu -->
            <li class="pc-item pc-caption">
              <label>Administration</label>
            </li>
            <!-- Models Menu -->
            <li class="pc-item pc-hasmenu">
              <a href="#!" class="pc-link">
                <span class="pc-micon"><i class="material-icons-two-tone text-white">storage</i></span>
                <span class="pc-mtext">Models</span>
                <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
              </a>
              <ul class="pc-submenu">
                <li class="pc-item"><a class="pc-link" href="/admin/home/shop/">Shops</a></li>
                <li class="pc-item"><a class="pc-link" href="/admin/home/product/">Products</a></li>
                <li class="pc-item"><a class="pc-link" href="/admin/home/sales/">Sales</a></li>
                <li class="pc-item"><a class="pc-link" href="/admin/home/expenses/">Expenses</a></li>
                <li class="pc-item"><a class="pc-link" href="/admin/home/storetransfer/">Store Transfers</a></li>
                <li class="pc-item"><a class="pc-link" href="/admin/home/supplierdata/">Supplier Data</a></li>
                <li class="pc-item"><a class="pc-link" href="/admin/home/userprofile/">User Profile</a></li>
              </ul>
            </li>
            <!-- User Management -->
            <li class="pc-item pc-hasmenu">
              <a href="#!" class="pc-link">
                <span class="pc-micon"><i class="material-icons-two-tone text-white">people</i></span>
                <span class="pc-mtext">User Management</span>
                <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
              </a>
              <ul class="pc-submenu">
                <li class="pc-item"><a class="pc-link" href="/admin/auth/user/">Users</a></li>
                <li class="pc-item"><a class="pc-link" href="/admin/auth/group/">Groups</a></li>
              </ul>
            </li>
            <!-- Regular Menu Items -->
            <li class="pc-item pc-caption">
              <label>Navigation</label>
            </li>
            <!-- <li class="pc-item">
              <a href="{% url 'index' %}" class="pc-link"><span class="pc-micon"><i class="material-icons-two-tone text-white">dashboard</i></span><span class="pc-mtext">Dashboard</span></a>
            </li> -->
            <li class="pc-item">
              <a href="{% url 'sales' %}" class="pc-link"><span class="pc-micon"><i class="material-icons-two-tone text-white">point_of_sale</i></span><span class="pc-mtext">Sales</span></a>
            </li>
            <li class="pc-item">
              <a href="{% url 'analytics' %}" class="pc-link"><span class="pc-micon"><i class="material-icons-two-tone text-white">dashboard</i></span><span class="pc-mtext">Analytics</span></a>
            </li>
            <li class="pc-item">
              <a href="{% url 'store' %}" class="pc-link"><span class="pc-micon"><i class="material-icons-two-tone text-white">store</i></span><span class="pc-mtext">Store</span></a>
            </li>
            <li class="pc-item">
              <a href="{% url 'supplier' %}" class="pc-link"><span class="pc-micon"><i class="material-icons-two-tone text-white">local_shipping</i></span><span class="pc-mtext">Supplier</span></a>
            <li class="pc-item"><a class="pc-link" href="{% url 'registration' %}"><span class="pc-micon"><i class="material-icons-two-tone text-white">person_add</i></span><span class="pc-mtext">Registration</span></a></li>
            </li>
          {% else %}
            {% if 'Manager' in user.groups.all.0.name %}
              <li class="pc-item">
                <a href="{% url 'sales' %}" class="pc-link"><span class="pc-micon"><i class="material-icons-two-tone text-white">point_of_sale</i></span><span class="pc-mtext">Sales</span></a>
              </li>
            {% endif %}
            
            {% if 'Storekeeper' in user.groups.all.0.name %}
              <li class="pc-item">
                <a href="{% url 'store' %}" class="pc-link"><span class="pc-micon"><i class="material-icons-two-tone text-white">store</i></span><span class="pc-mtext">Store</span></a>
              </li>
            {% endif %}
            
            {% if 'Supplier' in user.groups.all.0.name %}
              <li class="pc-item">
                <a href="{% url 'supplier' %}" class="pc-link"><span class="pc-micon"><i class="material-icons-two-tone text-white">local_shipping</i></span><span class="pc-mtext">Supplier</span></a>
              </li>
            {% endif %}
          {% endif %}
        {% endif %}
      </ul>
      <div class="card pc-user-card my-3 bg-white bg-opacity-10">
        
      </div>
    </div>
  </div>
</nav>